%h1 Hello Admin!

%h3 As an admin you can:
%ul
	%li Add/edit/delete menu items
	%li Add/edit/delete sample menus
	%li View and process a customer's event order
	%li Promote other users to admin status