<!DOCTYPE html>
<%= render :partial => "items/menu_bar", :locals => { :active => 'Home'} %>


<% if @admin %>
  <h1> Hello Admin! </h2>
<% else %>
  <h1> Hello Customer! </h2>
<% end %>

<h2>Description of Catering Services goes here...</h2>
  
	<%= button_to "Get Started", new_event_path, :method => :get %>

  </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
