<% if @admin %>
  <h1> Hello Admin! </h2>
<% else %>
  <h1> Hello Customer! </h2>
<% end %>

<h2>Description of Catering Services goes here...</h2>
  
<%= button_to "Get Started", new_event_path, :method => :get %>
