%h2 Saffron Strand Catering

%p As part of Saffron Strand’s mission to provide career opportunities for the homeless, we’re happy to announce the expansion of our catering services with our new online ordering app! In keeping with our mission, our members help run our catering services from start to finish. They prep, cook and serve the food for each catering event. Our members and staff fully embody the values of dignity, respect and trust and bring those values into the work they do. When you choose Saffron Strand catering, we'll make sure you have the highest quality food with the highest quality service. 

%br

%h4 If you’d like to book Saffron Strand’s Catering services, please follow the guided steps below.

%h5 How to request Saffron Strand's Catering Service:
%ol
	%li Please enter event type, date of your event, headcount, and budget.
	%li Select menu items from a pre-populated menu or add specific items based on your preferences.
	%li To confirm your request and save your menu selection, sign up for an account.
	%li Once you have signed up, your request will be sent to our catering service manager who will review the details of your event and set up a time for consultation.
	%li After the initial consultation, your event will be confirmed, and you will receive an email invoice for your catering event with payment options.
	%li Our team will follow up with you closer to the date of the event to make sure your experience with us is a success!


=button_to "Get Started", new_event_path, :method => :get, :class => "btn btn-default"
