%h2 Saffron Strand Catering

%p As part of Saffron Strand’s mission to provide career opportunities for the homeless, we’re happy to announce the expansion of our catering services with our new online ordering app! In keeping with our mission, our members help run our catering services from start to finish. They prep, cook and serve the food for each catering event. Our members and staff fully embody the values of dignity, respect and trust and bring those values into the work they do. When you choose Saffron Strand catering, we'll make sure you have the highest quality food with the highest quality service. 
  
=button_to "Get Started", new_event_path, :method => :get, :class => "btn btn-default"
