%h2 Details about #{@event.name}

%p
	Head Count
	= @event.head_count

%p
	Budget Per Person:
	= @event.menu_budget

/ = link_to 'Edit', edit_admin_item_path(@item)
/ = button_to 'Delete', admin_item_path(@item), :method => :delete, :confirm => 'Are you sure?'
/ = link_to 'Back to items', admin_items_path
