<h3> Congratulations <%= @name %>! Your order has been submitted! </h3>

<h5> Thank you so much for placing an order with us. Someone will contact you very soon! Please update your contact info if required.</h3>

	<%= @name %>