!!!
%html
  %body
    %h1 Settings
    %ul
      %li
        %a{:href => edit_user_registration_path} Edit Registration
      %li
        %a{:href => "http://www.google.com"} View Open Orders
        / above line will change, just a placeholder
