%h2 Menu:
= link_to 'Breakfast', items_breakfast_path, :method => :get, :class => "btn btn-default"
= link_to 'Lunch', items_lunch_path, :method => :get, :class => "btn btn-default"
= link_to 'Dinner', items_dinner_path, :method => :get, :class => "btn btn-default"